*{
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content{
     margin-left: 0 !important;
    }
    .customform{
      margin: 0 !important;
    }
  }
 .content {
  margin-left: 90px;
} 
@media only screen and (min-width: 768px) {
.model1{
  float: right;
  font-size: 14px;
}
}
   .downarrow{
    margin-top: 15px !important;
    padding: 3px !important;
    }
  .smalltext{
    color: darkgrey;
}
 .table td, .table th {
        vertical-align: revert !important;
    }
    .progress{
      height:10px;
    }
    .br1{
     width: 30%;
    }
    .br3{
      width: 60%;
     }
     .br4{
      width: 40%;
     }
     .br5{
      width: 100%;
     }
     .customform{
      margin: 80px;
    }
   .export{
     text-align: left;
   }
   .progressbar{
     width: 100%;
   }
   .pagging{
    flex-wrap: inherit;
   }
   .dropdown{
     min-width: 20rem !important;
   }







