*{
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content{
     margin-left: 0 !important;
    }
  }
div.content {
  margin-left: 50px;
  padding: 1px 16px;
  height: 1000px;
}
.model1{
  float: right;
  font-size: 14px;
}
   .fas, .fa{
    margin-top: 15px !important;
    padding: 3px !important;
    }
  .smalltext{
    color: darkgrey;
}
 .table td, .table th {
        vertical-align: revert !important;
    }
    .progress{
      height:10px;
    }
    .br1{
     width: 30%;
    }
    .br3{
      width: 60%;
     }
     .br4{
      width: 40%;
     }
     .br5{
      width: 100%;
     }
   







