*{
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Aleo';font-size: 22px;
     }
    @media (min-width: 770px){
    .col-md-2 {
             flex: 0 0 16.666667%;
        max-width: 4.666667% !important;
  }
}   
@media (max-width: 770px){
  .col{
    margin-left: 0 !important;
  }
  .specing{
    margin-top: 7px !important;
  }
}
/* card */

.card{
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
 
}

/* line */

.hr-theme-slash-2 {
  display: flex;
}
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid rgb(126, 123, 123);
  }
 
/* bar chart */

#motion-effect-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#motion-effect-example-1 tr {
  transition-duration: 0.3s;
}
/* pie chart */
[data-pie-id] li:nth-child(0) {
  color: blue;
}
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}
ul[data-pie-id] {
  list-style: none;
 }
#my-cool-chart {
  width:300px;
}

  /* Color graph only */
/*#my-cool-chart g[data-id="g1"] path {
  fill:yellow;
}*/
 
