
@media only screen and (max-width: 1000px)
 {
  /* For mobile phones: */
  .content{
   margin-left: 0 !important;
  }
 }
.content{
  margin-left: 90px;
  padding: 1px 16px;
}
.customheight{
  height: 416px;
    width: auto;
}  
.cahrt-1{
  margin-top:50px;
   width:100%;
    height:309px;
}
/* imag */
.imagmap{
   width: 100%;
    height: 91%;
}
.rightcolumn {
  float: right;
  width: 30%;
  padding-left: 20px;
}
/* column new */
.row:after {
  content:"";
  display: table;
  clear: both
}
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 5px;
}
.column-60{
  float: left;
  width: 100%;
    padding: 5px;
}
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 5px;
}
.column-40 {
  float: left;
  width: 44.66666%;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33,.column-40 {
    width: 100%;
    text-align: center;
  }
  /* .row{
    display: block;
  } */
}
@media screen and (max-width: 1140px) {
  .card1{
    height: 160px !important;
  }
}
.card1{
  border-radius: 8px; 
  border: 1px solid #cccccc;
  display: block;
  align-items :flex-start;
  justify-content: center;
  box-sizing: border-box;
 width: 100%;
 height: 138px;
 text-align: center;
}
.card{
  border-radius: 8px; 
border: 1px solid #cccccc;
  display: block;
  align-items :flex-start;
  justify-content: center;
  box-sizing: border-box;
 width: 100%;
}
.stages{
  padding-right: 12px;
}
/* .row{
  display: block;
} */
@media (min-width: 992px){
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 89%;
}
}
/* line */
/* .hr-theme-slash-2 { */
  /* display: flex;
} */
  .hr-line {
    margin-top: 10px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(198 194 194);
  }
/* bar chart */
 .charts-css .td1{
  --size:0.6; 
 } 
 .charts-css .td2{
  --size:0.3; 
 } 
 .charts-css .td3{
  --size:0.4; 
 } 
 .charts-css .td4{
  --size:0.7; 
 } 
 .charts-css .td5{
  --size:0.9; 
 } 
#motion-effect-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#motion-effect-example-1 tr {
  transition-duration: 0.3s;
}
/* pie chart */
[data-pie-id] li:nth-child(0) {
  color: blue;
}
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}
ul[data-pie-id] {
  list-style: none;
 }
#my-cool-chart {
  width:300px;
}
@media screen and (max-width: px){
  .card1{
    height: 147px !important;
  }

}

  