*{
    box-sizing: border-box;
  }
    @media (min-width: 768px){
    .col-md-2 {
             flex: 0 0 16.666667%;
        max-width: 4.666667% !important;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content{
   margin-left: 0 !important;
  }
}
 
div.content {
  margin-left: 70px;
  padding: 1px 16px;
  height: 1000px;
}
.customheight{
  height: 416px;
    width: auto;
}  
.cahrt-1{
  margin-top: 50px;
   width:100%;
    height:300px;
}
/* imag */
.imagmap{
   width: 100%;
    height: 91%;

}
/* card */

.card{
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* line */

.hr-theme-slash-2 {
  display: flex;
}
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid rgb(126, 123, 123);
  }
 
/* bar chart */
 .charts-css .td1{
  --size:0.6; 
 } 
 .charts-css .td2{
  --size:0.3; 
 } 
 .charts-css .td3{
  --size:0.4; 
 } 
 .charts-css .td4{
  --size:0.7; 
 } 
 .charts-css .td5{
  --size:0.9; 
 } 
#motion-effect-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#motion-effect-example-1 tr {
  transition-duration: 0.3s;
}
/* pie chart */
[data-pie-id] li:nth-child(0) {
  color: blue;
}
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}
ul[data-pie-id] {
  list-style: none;
 }
#my-cool-chart {
  width:300px;
}

  /* Color graph only */
/*#my-cool-chart g[data-id="g1"] path {
  fill:yellow;
}*/
 
