.iconhover :hover{
    color :darkgreen;
}
  @media only screen and (max-width: 768px) {
   
    /* For mobile phones: */
    .content{
     margin-left: 0 !important;
    }
    .btnsend{
        margin-top: 0px !important;
        margin-bottom: 5px;
    }
    .radio1{
        margin-left: 2 !important;
    }
    .mainrow{
        margin-left: 2 !important;
    }
    .circle{
        margin-top: 2 !important;
    }
    .workship{
        padding-left: 2 !important;
    }
    .title{
        padding-left: 2 !important;
    }
    .diffrent{
        margin-left: 0 !important;
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 1140px) {
    .btnsend{
        margin-top: 0px !important;
        height: 40px;
        float: left !important;
    }
  }
.content{
  margin-left: 90px;
  padding: 1px 16px;
}
/* .btndone{
    margin: 75px;
    height: 40px;
} */
.btnsend{
    margin-top: 123px;
    height: 40px;
}
.radiobutton
{
    margin: 3px;
}
.model1{
    float:right;
}
.btngroup{
    margin: 5px;
   width: max-content;
}
     .horizontalline {
     width:100%; 
    text-align:center;
    border-bottom: 0.1px solid #dee2e6;
     /* line-height:0.1em; */
      /* margin:10px 0 20px; */
      /* padding: 4px; */
     }
.circle{
  margin: 30px;
}
.workship{
    margin: 20px;
    font-size: 30px;
    color: #495057;
}
.title{
   margin: 20px;
}
.icon{
    color: gray;
}
.icon :hover{
    color: rgb(28, 204, 57);
}
.card{
    padding: 10px;
}
.btn-1{
    margin-left: 90px;
}
/* .diffrent{
    margin-left: 100px;
} */
/* slider */
.slidecontainer {
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
.alert{
    padding: 2.75rem 1.25rem;
}