
  /* .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 4.666667% !important;
  } */
  @media only screen and  (max-width:1000px) {
    .customform{
      margin: 0px !important;
    } 
  }
.icon{
  float:right;
  font-size:12px;
}
.customform{
  margin: 100px;
}
.forgopass{
  margin-top: 10% !important;
}



