  @media screen and (min-width: 1000px) {
    .mainclass{
        margin-left: 0px !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    /* .content{
     margin-left: 0 !important;
    } */
    .btnsend{
        margin-top: 0px !important;
        margin-bottom: 5px;
    }
    .radio1{
        margin-left: 2 !important;
    }
    .mainrow{
        margin-left: 2 !important;
    }
}
.btnsend{
    margin-top: 123px;
    height: 40px;
}
.radiobutton
{
    margin: 3px;
}
.model1{
    float:right;
}
.btngroup{
    margin: 5px;
   width: max-content;
}
 .horizontalline{
     width:100%; 
    text-align:center;
     border-bottom: 0.1px solid #dee2e6;
     line-height:0.1em;
     margin: 10px 0 20px;
}
.icon{
    color: gray;
}
.hovercolor :hover{
    color: rgb(28, 204, 57);
}
.card{
    padding: 10px;
}
.form-control{
    padding: 0 !important;
}
/* form */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    display: inline-block;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.items{
    margin-left: 100px;
}