
@media (max-width: 700px){
    .col-lg-5{
        margin-top: 3px!important;
    }
}
.far :hover{
    color :darkgreen;
}
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content{
     margin-left: 0 !important;
    }
    .btnsend{
        margin-top: 0px !important;
        margin-bottom: 5px;
    }
    .radio1{
        margin-left: 2 !important;
    }
    .mainrow{
        margin-left: 2 !important;
    }
    .circle{
        margin-top: 2 !important;
    }
    .workship{
        padding-left: 2 !important;
    }
    .title{
        padding-left: 2 !important;
    }
    .diffrent{
        margin-left: 0 !important;
        padding-right: 15px !important;
    }
    
}
.content{
  margin-left: 90px;
  padding: 1px 16px;
  height: 1000px;
}
.btndone{
    margin: 75px;
    height: 40px;
}
.btnsend{
    margin-top: 123px;
    height: 40px;
}

.radiobutton
{
    margin: 3px;
}
.model1{
    float:right;
}
.btngroup{
    margin: 5px;
   width: max-content;
}
     h2 {
     width:100%; 
    text-align:center;
     border-bottom: 0.1px solid #dee2e6;
     line-height:0.1em;
     margin: 10px 0 20px;
     }
   
.circle{
    margin-top: 20px;
    margin-left: 20px;
}
.workship{
    font-size: 30px;
    padding-left: 35px;
    color: #495057;
}
.title{
    margin-top: 10px;
    padding-left: 20px;
}
.icon{
    color: gray;
}
.icon :hover{
    color: rgb(28, 204, 57);
}
.col-lg-4 {
    margin-left: 105px;
}
.card{
    padding: 10px;
}
.diffrent{
    margin-left: 100px;
}
.iconcircle{
    color: gray;
}
.form-control{
    padding: 0 !important;
}
/* form */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    display: inline-block;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   
    .col-75
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

