
/* body {
    margin: 0;
    font-family: "Lato", sans-serif;
      }
   */
   .demoicon{
     font-size :x-large;
   }
  .sidebar {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 205, 6);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  a:link, a:visited{
    text-decoration: none;
    text-align: center; 
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
  }
  .sidebar a:hover{
    background-color: rgba(250, 246, 6, 0.603);
    color: #505050
   
  }
  @media only screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .sidebar a{
      margin-top: 0 !important;
  }
  .mybutton {
  position:unset !important;
  }
  .mybutton1 {
    position:unset !important;
    }
 }
  .fa, .fab, .fad, .fal, .far, .fas{
  display :contents !important;
}
.mybutton {
  position: fixed;
  bottom: 50px;
}
.mybutton1 {
  position: fixed;
  bottom: 4px;
}
.fa-cog:before {
  padding: 3px;
}
.fa-sign-out-alt:before{
  padding:3px;
}

