
/* body {
    margin: 0;
    font-family: "Lato", sans-serif;
      }
   */
   .demoicon{
     font-size :x-large;
   }
  .sidebar {
    margin: 0;
    padding: 0;
    background-color: yellow;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  a:link, a:visited{
    text-decoration: none;
    text-align: center; 
  }
  .sidebar a {
    display: block;
    color: rgb(37, 36, 36);
    padding: 16px;
  }
  .sidebar a:hover{
    background-color: rgb(221, 219, 230);
    color: rgb(12, 11, 11);
  }
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .sidebar a{
      margin-top: 0 !important;
  }
  .mybutton {
  position:unset !important;
  }
  .mybutton1 {
    position:unset !important;
    }
 }
  .fa, .fab, .fad, .fal, .far, .fas{
  display :contents !important;
}
.mybutton {
  position: fixed;
  bottom: 50px;
}
.mybutton1 {
  position: fixed;
  bottom: 4px;
}
.fa-cog:before {
  padding: 3px;
}
.fa-sign-out-alt:before{
  padding:3px;
}

