*{
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Aleo';font-size: 22px;
     }
    @media (min-width: 770px){
    .col-md-2 {
             flex: 0 0 16.666667%;
        max-width: 4.666667% !important;
  }
}   
@media (max-width: 770px){
  .col{
    margin-left: 0 !important;
  }
}
/* card */


.card{
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  width: 200px;
  min-width: 222px !important;
  height: 200px;
  transition: all linear 200ms;
}
/* bar chart */

#motion-effect-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#motion-effect-example-1 tr {
  transition-duration: 0.3s;
}

